svg {
  width: calc(100vw - 80px);
  height: calc(100vh - 220px);
}
.text {
  font-weight: 600;
  font-size: 7px;
  dominant-baseline: middle;
  font-family: sans-serif;
}

.path-polyline {
  stroke-dasharray: 10;
  stroke-dashoffset: 200;
  animation: dash-loop 6s linear infinite;
}

@keyframes dash-loop {
  to {
    stroke-dashoffset: 0;
  }
}
