.graph-container {
  padding: 10px;
}
.form-container,
.cards-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

.status-text {
  font-size: 18px;
}
