<div class="home-container">
  <mat-card appearance="outlined" class="form-card">
    <div class="form-container">
      <form [formGroup]="coordinateForm" class="form-container">
        <mat-form-field appearance="outline">
          <mat-label>X</mat-label>
          <input matInput formControlName="x" type="number" />

          @if (coordinateForm.get('x')?.hasError('required')) {
            <mat-error>X is required</mat-error>
          }

          @if (coordinateForm.get('x')?.hasError('pattern')) {
            <mat-error> X must be a number </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Y</mat-label>
          <input matInput formControlName="y" type="number" />

          @if (coordinateForm.get('y')?.hasError('required')) {
            <mat-error>Y is required</mat-error>
          }

          @if (coordinateForm.get('y')?.hasError('pattern')) {
            <mat-error>Y must be a number</mat-error>
          }
        </mat-form-field>

        <button
          matButton="outlined"
          color="primary"
          (click)="handleUpdateLocation()"
          [disabled]="coordinateForm.invalid || loading()"
        >
          Update location
        </button>
        <button
          filled
          matButton="outlined"
          [disabled]="!trackCurrentLine()"
          (click)="handleResetCurrentLine()"
        >
          Reset Current Line
        </button>
      </form>
      <mat-checkbox [checked]="trackCurrentLine()" (change)="trackCurrentLine.set($event.checked)">
        Track Line
      </mat-checkbox>
    </div>
    <div class="cards-container">
      <p class="status-text offset-text">Offset: {{ status().offset | number }}</p>
      <p class="status-text station-text">Station: {{ status().station | number }}</p>
    </div>
  </mat-card>
  <mat-card appearance="outlined" class="graph-card">
    <div class="graph-container">
      <app-graph
        [currentLocation]="userCoordinates()"
        [pathCoordinates]="pathCoordinates()"
        [status]="status()"
      />
    </div>
  </mat-card>
</div>
