.form-container,
.cards-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.status-text {
  font-weight: 500;
  font-size: 18px;
}

.offset-text {
  color: #1984c5;
}

.station-text {
  color: #e14b31;
}

.form-card,
.graph-card {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.graph-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d7e9f5;
  padding: 0;
}

.home-container {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
