
.graph-container {
  margin-top: 20px;
  padding: 10px;
}
.form-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}
