name: Deploy to Oracle Cloud VPS

on:
  push:
    branches: [ "master" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.VPS_IP }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /home/ubuntu/dev/tracker-challenge/tracker-backend/TrackerApi
            git pull origin main
            sudo dotnet publish -c Release -o /var/www/tracker-api
            sudo systemctl restart tracker-api